<main class="main">
  <div class="titulo">
    <h1>Hundir La Flota!</h1>
  </div>
  <div class="grid-container">
    <a id="A1" (click)="showcasilla('A1')"  href="#" class="grid-item">A1</a>
    <a id="A2" (click)="showcasilla('A2')" href="#" class="grid-item">A2</a>
    <a id="A3" (click)="showcasilla('A3')" href="#" class="grid-item">A3</a>
    <a id="A4" (click)="showcasilla('A4')" href="#" class="grid-item">A4</a>
    <a id="B1" (click)="showcasilla('B1')" href="#" class="grid-item">B1</a>
    <a id="B2" (click)="showcasilla('B2')" href="#" class="grid-item">B2</a>
    <a id="B3" (click)="showcasilla('B3')" href="#" class="grid-item">B3</a>
    <a id="B4" (click)="showcasilla('B4')" href="#" class="grid-item">B4</a>
    <a id="C1" (click)="showcasilla('C1')" href="#" class="grid-item">C1</a>
    <a id="C2" (click)="showcasilla('C2')"href="#" class="grid-item">C2</a>
    <a id="C3" (click)="showcasilla('C3')"href="#" class="grid-item">C3</a>
    <a id="C4" (click)="showcasilla('C4')"href="#" class="grid-item">C4</a>
  </div>

</main>