<main class="main">
  <div class="titulo">
    <h1>Hundir La Flota!</h1>
  </div>
  <div class="padreTablero">
    <div class="grid-container">
      <table>
        <tbody>
          <tr>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>E</td>
          </tr>
          <tr>
            <td>1</td>
            <td><a id="A1" (click)="showcasilla(0,0)" href="#" class="grid-item"><img src="img/circulo.png" ></a></td>
            <td><a id="B1" (click)="showcasilla(1,0)" href="#" class="grid-item"><img src="img/cruz.png" ></a></td>
            <td><a id="C1" (click)="showcasilla(2,0)" href="#" class="grid-item"><img src="img/mar.png" ></a></td>
            <td><a id="D1" (click)="showcasilla(3,0)" href="#" class="grid-item"></a></td>
            <td><a id="E1" (click)="showcasilla(4,0)" href="#" class="grid-item"></a></td>
          </tr>
            <tr>
              <td>2</td>
              <td><a id="A2" (click)="showcasilla(0,1)" href="#" class="grid-item"></a></td>
              <td><a id="B2" (click)="showcasilla(0,1)" href="#" class="grid-item"></a></td>
              <td><a id="C2" (click)="showcasilla(2,1)" href="#" class="grid-item"></a></td>
              <td><a id="D2" (click)="showcasilla(3,1)" href="#" class="grid-item"></a></td>
              <td><a id="E2" (click)="showcasilla(4,1)" href="#" class="grid-item"></a></td>
            </tr>
            <tr>
              <td>3</td>
              <td><a id="A3" (click)="showcasilla(0,2)" href="#" class="grid-item"></a></td>
              <td><a id="B3" (click)="showcasilla(1,2)" href="#" class="grid-item"></a></td>
              <td><a id="C3" (click)="showcasilla(2,2)" href="#" class="grid-item"></a></td>
              <td><a id="D3" (click)="showcasilla(3,2)" href="#" class="grid-item"></a></td>
              <td><a id="E3" (click)="showcasilla(4,2)" href="#" class="grid-item"></a></td>
            </tr>
            <tr>
              <td>4</td>
              <td><a id="A4" (click)="showcasilla(0,3)" href="#" class="grid-item"></a></td>
              <td><a id="B4" (click)="showcasilla(1,3)" href="#" class="grid-item"></a></td>
              <td><a id="C4" (click)="showcasilla(2,3)" href="#" class="grid-item"></a></td>
              <td><a id="D4" (click)="showcasilla(3,3)" href="#" class="grid-item"></a></td>
              <td><a id="E4" (click)="showcasilla(4,3)" href="#" class="grid-item"></a></td>
            </tr>
            <tr>
              <td>5</td>
              <td><a id="A5" (click)="showcasilla(0,4)" href="#" class="grid-item"></a></td>
              <td><a id="B5" (click)="showcasilla(1,4)" href="#" class="grid-item"></a></td>
              <td><a id="C5" (click)="showcasilla(2,4)" href="#" class="grid-item"></a></td>
              <td><a id="D5" (click)="showcasilla(3,4)" href="#" class="grid-item"></a></td>
              <td><a id="E5" (click)="showcasilla(4,4)" href="#" class="grid-item"></a></td>
            </tr>
      </tbody>
      </table>
    </div>
    </div>
  <h2 class="intentos">Nº Intentos: </h2>

</main>