<main class="main">
  <div class="titulo">
    <h1>Hundir La Flota!</h1>
  </div>
  <div class="grid-container">
    <a href="#" class="grid-item">A1</a>
    <a href="#" class="grid-item">A2</a>
    <a href="#" class="grid-item">A3</a>
    <a href="#" class="grid-item">A4</a>
    <a href="#" class="grid-item">B1</a>
    <a href="#" class="grid-item">B2</a>
    <a href="#" class="grid-item">B3</a>
    <a href="#" class="grid-item">B4</a>
    <a href="#" class="grid-item">C1</a>
    <a href="#" class="grid-item">C2</a>
    <a href="#" class="grid-item">C3</a>
    <a href="#" class="grid-item">C4</a>
  </div>
</main>